<!-- src/app/demo/add-formation/add-formation.component.html -->

<div class="grid">
  <div class="col-12">
    <div class="card px-6 py-6">
      <p-toast></p-toast>
      <p-toolbar styleClass="mb-4">
        <ng-template pTemplate="left">
          <div class="my-2">
            <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button>
            <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedFormations()"
              [disabled]="!selectedFormations || !selectedFormations.length"></button>
          </div>
        </ng-template>
        <ng-template pTemplate="right">
        </ng-template>
      </p-toolbar>

      <p-table [value]="formations" [columns]="cols" responsiveLayout="scroll"
        [globalFilterFields]="['name','description','image']" [paginator]="true" [rows]="10"
        [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [(selection)]="selectedFormations" selectionMode="multiple" [rowHover]="true" dataKey="_id">
        <ng-template pTemplate="caption">
          <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
            <h5 class="m-0">Manage Formations</h5>
            <span class="block mt-2 md:mt-0 p-input-icon-left">
              <i class="pi pi-search"></i>
              <input pInputText type="text" (input)="onGlobalFilter($event)" placeholder="Search..." class="w-full sm:w-auto"/>
            </span>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 3rem">
              <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th pSortableColumn="name">Name <p-sortIcon field="name"></p-sortIcon></th>
            <th pSortableColumn="description">Description <p-sortIcon field="description"></p-sortIcon></th>
            <th>Image</th>
            <th>Cours</th>
            <th></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-formation>
          <tr>
            <td>
              <p-tableCheckbox [value]="formation"></p-tableCheckbox>
            </td>
            <td style="width: 30%;">
              <span class="p-column-title">Name</span>
              {{formation.name}}
            </td>
            <td style="width: 30%;">
              <span class="p-column-title">Description</span>
              {{formation.description}}
            </td>
            <td style="width: 30%;">
              <span class="p-column-title">Image</span>
              <img [src]="formation.image" [alt]="formation.name" width="80" class="shadow-4" />
            </td>
            <td>
              <span class="p-column-title">Cours</span>
              <ul>
                <li *ngFor="let coursId of formation.cours">
                  {{ coursId }} <!-- Display each Cours ID -->
                </li>
              </ul>
            </td>
            <td>
              <div class="flex">
                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editFormation(formation)"></button>
                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteFormation(formation)"></button>
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>

<p-dialog [(visible)]="formationDialog" [style]="{width: '450px'}" header="Formation Details" [modal]="true" class="p-fluid">
  <ng-template pTemplate="content">
    <div class="field">
      <label for="name">Name</label>
      <input type="text" pInputText id="name" [(ngModel)]="formation.name" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !formation.name}"/>
      <small class="ng-dirty ng-invalid" *ngIf="submitted && !formation.name">Name is required.</small>
    </div>
    <div class="field">
      <label for="description">Description</label>
      <input type="text" pInputText id="description" [(ngModel)]="formation.description" required [ngClass]="{'ng-invalid ng-dirty' : submitted && !formation.description}"/>
      <small class="ng-dirty ng-invalid" *ngIf="submitted && !formation.description">Description is required.</small>
    </div>
    <div class="field">
      <label for="image">Image</label>
      <input type="file" pInputText id="image" (change)="handleImageChange($event)" />
    </div>
    <div class="field">
      <label for="cours">Cours</label>
      <p-multiSelect [options]="coursOptions" [(ngModel)]="formation.cours" defaultLabel="Select Cours"></p-multiSelect>
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
    <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveFormation()"></button>
  </ng-template>
</p-dialog>

<!-- Delete Formation Dialog -->
<p-dialog [(visible)]="deleteFormationDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
  <div class="flex align-items-center justify-content-center">
    <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
    <span *ngIf="formation">Are you sure you want to delete <b>{{formation.name}}</b>?</span>
  </div>
  <ng-template pTemplate="footer">
    <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteFormationDialog = false"></button>
    <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDelete()"></button>
  </ng-template>
</p-dialog>

<!-- Delete Formations Dialog -->
<p-dialog [(visible)]="deleteFormationDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
  <div class="flex align-items-center justify-content-center">
    <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
    <span>Are you sure you want to delete selected formations?</span>
  </div>
  <ng-template pTemplate="footer">
    <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteFormationDialog = false"></button>
    <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDeleteSelected()"></button>
  </ng-template>
</p-dialog>
